# Bytecode and cache
__pycache__/
*.py[cod]

# Environment
.env
*.sqlite3

# Virtual environment (if inside project)
venv/
env/

# Django static files
/staticfiles/
/media/

# System files
.DS_Store
Thumbs.db

# VS Code
.vscode/